version: 1
disable_existing_loggers: false

formatters:
  default:
    format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
    datefmt: "%Y-%m-%d %H:%M:%S"

  access:
    format: "%(asctime)s - %(client_addr)s - \"%(request_line)s\" %(status_code)s"
    datefmt: "%Y-%m-%d %H:%M:%S"

handlers:
  default:
    class: logging.StreamHandler
    formatter: default
    stream: ext://sys.stdout

  access:
    class: logging.StreamHandler
    formatter: access
    stream: ext://sys.stdout

loggers:
  uvicorn:
    handlers:
      - default
    propagate: false

  uvicorn.access:
    handlers:
      - access
    propagate: false

  uvicorn.error:
    handlers:
      - default
    propagate: false

root:
  handlers:
    - default
